:host {
    background-color: black;
    min-height: 40px;
    padding: 30px 10px;
    border-radius: 12px;
    display: flex;
    margin: 10px;
    color: white;
    // border-top : 8px solid gray;
    position: relative;
    font-family: monospace;

    &::after {
        position: absolute;
        background-color: rgb(231, 219, 219);
        content: '';
        top: 0;
        left: 0;
        height: 25px;
        width: 100%;
        border-radius: 10px 10px 0 0;
        border-bottom: 2px solid rgb(204, 185, 185);
    }

    .title {
        display: flex;
        position: absolute;
        top: 5px;
        color: black;
        z-index: 9;
        justify-content: space-between;
        width: calc(100% - 10px);
    }

    box-shadow: 0px 1px 5px 4px #0000004d;

    .box {
        width: 6px;
        height: 10px;
        background-color: white;
        margin: 3px;
        animation: blink 1s infinite;
    }

    button {
        position: absolute;
        border-radius: 10px;
        padding: 2px 15px;
        bottom: 5px;
        left: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: #6fab2c;

        &:hover {
            background-color: #578a1d;
        }
    }

    &.wrong {
        animation: wrong 0.3s 2;
    }

    .wrong-message {
        position: absolute;
        margin: auto;
        text-align: center;
        width: 100%;

        h3 {
            color: gold;
            font-size: 26px;
            margin: 0;
        }

        .try-again {
            cursor: pointer;
            background-color: rgb(33, 33, 99);
            border-radius: 10px;
            padding: 3px 10px;
            width: fit-content;
            /* text-align: center; */
            margin: 5px auto;
        }
    }
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wrong {
    0% {
        background-color: black;
    }

    25% {
        background-color: red;
    }

    100% {
        background-color: black;
    }
}